.container{
   margin-top: 130px;
   margin-bottom: 54vh;
   
}
.card{
    margin-bottom: 20px;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #ffc800;
  }

 
  .container-fluid{
    margin-top: 50px;
    margin-bottom: 10vh;
  }
  .stretched-link{
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

