<div class="container d-flex flex-column justify-content-center">

<div class="input-group pb-5 d-flex justify-content-end">
<button class="btn btn-primary" (click)="opencontent(add)"><i class="bi bi-plus-circle"></i></button>
  <div class="form-outline">
    <input type="search" id="form1" class="form-control searchTerm" [(ngModel)]="term"/>
  </div>
  <button type="button"  disabled="true" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>
<h1>Personnels</h1>
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">FullName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Account</th>
        <th scope="col">Cv</th>
        <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of users | filter: term | paginate: { itemsPerPage: 3, currentPage: p } ">
        
        <th scope="row"><img class="rounded-circle mr-2"  width="40px" [src]="image(p.photo,p.photoType)" (error) ="onImgError($event)"></th>
        <td>{{p.nom+' '+p.prenom }}</td>
        <td>{{p.email}}</td>
        <td>{{p.phone}}</td>
        <td class="text-center">
            <div class="form-check form-switch pt-3 pl-5">
                 <input class="form-check-input" [(ngModel)]="p.etat" type="checkbox" role="switch" (click)="activateAccount(p.id,$event)" id="flexSwitchCheckDefault" [value]="true" style="transform: scale(1.8);">

            </div>
            

        </td>
        <td><button class="btn btn-primary" (click)="displayPdf(p.id,cv)"><i class="bi bi-file-person-fill"></i></button></td>
        
       
        <td>
            <button class="btn btn-primary" (click)="infos(p.id,info)"><i class="bi bi-eye"></i></button>&nbsp;&nbsp;&nbsp;&nbsp; 
            <button class="btn btn-danger " (click)="deleteUser(p.id)" ><i class="bi bi-trash3"></i></button>
        </td>
       
        </tr>
      
    </tbody>
    </table>
<div class="paginator d-flex justify-content-center pt-5">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>
</div>
<ng-template #cv let-modal >
<div class="container-fluid">
<pdf-viewer [src]="showpdf(developper.cvpdf,developper.cvpdfType)"

                    [render-text]="true"
                    enableDownload='true'
                    [show-borders]="false"
                    style="overflow: hidden"
                    [original-size]="false"
                   
                    style="width: 100%; height: 850px"
                ></pdf-viewer>
</div>
</ng-template>
<ng-template #info let-modal>
  
    <div class="container-fluid  mt-4 mb-4 p-3 d-flex justify-content-center">
    
                  <div class="card p-5">
                    <div class=" image d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary">
                          <img [src]="image(user.photo,user.photoType)" (error) ="onImgError($event)" height="100" width="100" />
                        </button> 
                        <span class="name mt-3">{{user.prenom}} {{user.nom}}</span>
                        <span class="idd">@{{user.prenom}}{{user.nom}}</span>
                        
                         
                     
                        <div class="text mt-3">
                              <i class="bi bi-envelope"></i> {{user.email}}
                        </div> 
                        <div class="text mt-3">
                              <i class="bi bi-geo-alt-fill"></i> Adress 1: {{user.adress}} 
                        </div> 
                        <div class="text mt-3">
                              <i class="bi bi-geo-alt-fill"></i> Adress 2: {{user.adress2}} 
                        </div> 
                        <div class="text mt-3">
                                {{user.area}} {{user.state}},{{user.zipcode}}
                        </div> 
                        <div class="text mt-3">
                              <i class="bi bi-telephone"></i> +216{{user.phone}}
                        </div> 
                        <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                              <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span>
                              <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span>
                        </div> 
                        <div class=" px-2 rounded mt-4 date ">
                         <span class="join">Joined May,2021</span>
                        </div>
                    </div>
      
</div>
       
    </div>
</ng-template>

<ng-template #add let-modal>
    <div class="modal-header">
      <h2 class="pb-3">PERSONNELS</h2>
    </div>
    <div class=" container-fluid">
     <form method="post" [formGroup]="myFormLogin" (submit)="signup()">
            
                

            <div class="row pb-3">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>FirstName:</label>
                        <input type="text" class="form-control" [(ngModel)]="user.prenom" formControlName="prenom"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['prenom'].errors }">

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>LastName:</label>
                        <input class="form-control" type="text" formControlName="nom" [(ngModel)]="user.nom"   [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['nom'].errors }">

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Picture:</label>
                        <input class="form-control" type="file" formControlName="photo" (change)="onFileSelected($event)" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['photo'].errors }">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" type="email" formControlName="email" [(ngModel)]="user.email"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['email'].errors }">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Password:</label>
                        <input class="form-control" type="password" formControlName="password" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['password'].errors }">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Adress 1:</label>
                        <input class="form-control" type="text" formControlName="adress" [(ngModel)]="user.adress" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['adress'].errors }">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Adress 2:</label>
                        <input class="form-control" type="text" formControlName="adress2" [(ngModel)]="user.adress2" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['adress2'].errors }">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Area:</label>
                        <input class="form-control" type="text" formControlName="area" [(ngModel)]="user.area"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['area'].errors }">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>State:</label>
                        <input class="form-control" type="text" formControlName="state" [(ngModel)]="user.state" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['state'].errors }">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Zip:</label>
                        <input class="form-control" type="number" formControlName="zipcode"  [(ngModel)]="user.zipcode" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['zipcode'].errors }">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input class="form-control" type="number" formControlName="phone" [(ngModel)]="user.phone"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['phone'].errors }">
                    </div>
                </div>
                 
            </div>
           
            <button type="submit" class="btn btn-primary signup">Add Personnels</button>
            </form>
            </div>
</ng-template>


