

.form-control:focus {
    box-shadow: none;
    border-color: #ffca2a
}






.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #f9d832;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.container{
    margin-top: 120px !important;
}