<div class="container rounded bg-white mt-5 mb-5 ">
<form [formGroup]="myFormLogin" (submit)="updateProfile()">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" [src]="image(user.photo,user.photoType)"><span class="font-weight-bold">{{user.nom+' '+user.prenom}}</span><span class="text-black-50">{{user.email}}</span><span> </span></div>
            
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" [(ngModel)]="user.prenom" formControlName="prenom" placeholder="first name" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['prenom'].errors }"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" [(ngModel)]="user.prenom" formControlName="nom" placeholder="surname" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['nom'].errors }"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control"  [(ngModel)]="user.phone" formControlName="phone" placeholder="enter phone number" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['phone'].errors }"></div>
                    <div class="col-md-6"><label class="labels">Address Line 1</label><input type="text" class="form-control" [(ngModel)]="user.adress" formControlName="adress" placeholder="enter address line 1" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['adress'].errors }"></div>
                    <div class="col-md-6"><label class="labels">Address Line 2</label><input type="text" class="form-control" [(ngModel)]="user.adress2" formControlName="adress2" placeholder="enter address line 2" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['adress2'].errors }"></div>
                    
                     <div class="col-md-6"><label class="labels">Area</label><input type="text" class="form-control" [(ngModel)]="user.area" formControlName="area" placeholder="enter address line 2" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['area'].errors }"></div>
                    <div class="col-md-3"><label class="labels">State</label><input type="text" class="form-control" [(ngModel)]="user.state" formControlName="state" placeholder="enter address line 2" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['state'].errors }"></div>
                    <div class="col-md-3"><label class="labels">Postcode</label><input type="text" class="form-control" [(ngModel)]="user.zipcode" formControlName="zipcode" placeholder="enter address line 2" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['zipcode'].errors }"></div>
                    <div class="col-md-6"><label class="labels">Email ID</label><input type="text" class="form-control" [(ngModel)]="user.email" formControlName="email" placeholder="enter email id" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['email'].errors }"></div>
                    <div class="col-md-6"><label class="labels">Picture </label><input type="file" class="form-control"  formControlName="photo" (change)="onFileSelected($event)" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['photo'].errors }"></div>
                    <div class="col-md-12"><label class="labels">Cv </label><input type="file" class="form-control"  formControlName="pdf" (change)="pdf($event)" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['photo'].errors }"></div>
                </div>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>CV</span></div><br>
                <pdf-viewer [src]="image(user.cvpdf,user.cvpdfType)"
                    [render-text]="true"
                    enableDownload='true'
                    [show-borders]="false"
                    style="overflow: hidden"
                    [original-size]="false"
                    
                    style="width: 380px; height: 550px"
                ></pdf-viewer>
                
            </div>
        </div>
    </div>
</form>
</div>
