.container{
    margin-top: 130px;
    margin-bottom: 54vh;
    
 }
 .card{
     margin-bottom: 20px;
 }
 .my-pagination /deep/ .ngx-pagination .current {
     background: #ffc800;
   }
   .stretched-link{
       cursor: pointer;
       text-decoration: none;
       position: relative;
   }
   .badge-primary{
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: red;
       width: auto;
       font-size: 10pt;
       height: auto;
   }
   .badge-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: auto;
 
    font-size: 13pt;
    height: auto;
}
   
