<section class="signup-clean">
        <form method="post" [formGroup]="myFormLogin" (submit)="signup()">
            <h2 class="pb-3">Create Account</h2>
                <label>SignUp as a: <span class="text-danger">*</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="role" (change)="selectRole($event)" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['role'].errors }">
                <option value="CLIENTS">Client</option>
                <option value="PERSONNELS">Personnel</option>
            </select>


            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>FirstName: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="user.prenom" formControlName="prenom"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['prenom'].errors }">

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>LastName: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="nom" [(ngModel)]="user.nom"   [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['nom'].errors }">

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Picture: <span class="text-danger">*</span></label>
                        <input class="form-control" type="file" formControlName="photo" (change)="onFileSelected($event)" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['photo'].errors }">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email: <span class="text-danger">*</span></label>
                        <input class="form-control" type="email" formControlName="email" [(ngModel)]="user.email"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['email'].errors }">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Password: <span class="text-danger">*</span></label>
                        <input class="form-control" type="password" formControlName="password" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['password'].errors }">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Adress 1: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="adress" [(ngModel)]="user.adress" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['adress'].errors }">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Adress 2:</label>
                        <input class="form-control" type="text" formControlName="adress2" [(ngModel)]="user.adress2" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['adress2'].errors }">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Area: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="area" [(ngModel)]="user.area"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['area'].errors }">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>State: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" formControlName="state" [(ngModel)]="user.state" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['state'].errors }">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Zip: <span class="text-danger">*</span></label>
                        <input class="form-control" type="number" formControlName="zipcode"  [(ngModel)]="user.zipcode" [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['zipcode'].errors }">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Phone: <span class="text-danger">*</span></label>
                        <input class="form-control" type="number" formControlName="phone" [(ngModel)]="user.phone"  [ngClass]="{ 'is-invalid': submittedLogin && myFormLogin.controls['phone'].errors }">
                    </div>
                </div>
                  <div class="col-md-12" *ngIf="selectedRole=='PERSONNELS'"><label class="labels">Cv </label><input type="file" class="form-control"  formControlName="pdf" (change)="pdf($event)" ></div>
            </div>
           
            <button type="submit" class="btn btn-primary signup">SignUp</button>
            </form>
</section>